.Nunito {
  font-family: "Nunito", sans-serif !important;
}
* {
  margin: 0;
  padding: 0;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: #11175d !important;
}
.password {
  position: relative;
  width: 70%;
  margin: 34px auto 0;
}
.password .eye {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.openSans {
  font-family: "Open Sans", sans-serif;
}
.forgotBox {
  width: 100%;
  height: 100vh;
  background: #ebe8f3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forgotboxinn {
  width: 40%;
  background: #fff;
  padding: 30px;
}
.loader {
  position: absolute;
}
.sc-dmyCSP {
  position: absolute !important;
}
.navbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-around;
}
.navboxinner {
  height: 99%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 2px solid rgba(255, 255, 255.5);
  box-shadow: 0 0 10px #fff inset;
  border-radius: 20px;
  backdrop-filter: blur(20px);
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}
.navitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 400px;
}
.active {
  background: #fff;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: rgb(229 222 140) !important;
  position: relative;
  font-size: 40px;
  animation: widthfill 0.8s forwards;
  width: 0;
  right: 0;
}
@keyframes widthfill {
  100% {
    right: 0;
    width: 110px;
  }
}
.active::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 70px;
  top: 0;
  right: -6px;
  background: #af7070;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.userProfile {
  text-align: center;
}
.userImg {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  cursor: pointer;
}
.Navicon {
  cursor: pointer;
  color: #af7070;
  width: 110px;
  height: 70px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logbuttons {
  display: flex;
  column-gap: 20px;
  margin-top: 15px;
}
/* Images cropper */
.box {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}
.img-preview {
  overflow: hidden;
}

.cropper-crop-box,
.cropper-view-box {
  border-radius: 50%;
}

.cropper-view-box {
  box-shadow: 0 0 0 1px #39f;
  outline: 0;
}
/* home pages css */

.homepageinner {
  display: flex;
  flex-direction: column !important;
  justify-content: space-between !important;
  height: 100vh;
}
.boxcontainer {
  height: 335px;
  box-shadow: 0px 0px 31px 1px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 0px 0px 31px 1px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 0px 31px 1px rgba(0, 0, 0, 0.34);
  border: 2px solid rgba(255, 255, 255.5);
  border-radius: 5px;
  padding: 15px;
  overflow-y: scroll;
  box-shadow: 0 0 10px #fff inset;
}

.tittlebar h2 {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgba(255, 255, 255.5);
  box-shadow: 0 0 10px #fff inset;
  padding: 5px 10px;
  border-radius: 4px;
  color: #975151;
}
.userimg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.boxinner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin: 15px 0;
  padding-bottom: 10px;
}
.boxinner:last-child {
  border-bottom: 0;
  padding-bottom: 0px;
  margin: 0;
}
.relative {
  position: relative;
}
.grpinputbox {
  position: absolute;
  top: 55px;
  left: 3%;
  background: #fffbfb;
  z-index: 1;
  width: 88.2%;
  padding: 0 15px 0;
  border-radius: 4px;
  box-shadow: 0px 0px 31px 1px rgba(95, 155, 223, 0.34);
  -webkit-box-shadow: 0px 0px 31px 1px rgba(59, 113, 231, 0.34);
  -moz-box-shadow: 0px 0px 31px 1px rgba(44, 85, 197, 0.34);
}
.optionBox {
  position: absolute;
  width: 60.7%;
  top: 0;
  right: 15px;
  background: #d3cc7f;
  z-index: 3;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255.5);
  box-shadow: 0 0 10px #fff inset;
  border-radius: 4px;
}
.showuserBox {
  overflow-y: scroll;
  height: 600px;
}
.typedinner {
  height: 600px;
  display: flex;
  align-items: center;
}
.imgdiv {
  position: relative;
}
.imgdiv .imgdown {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.imgdiv .imgup {
  position: absolute;
  width: 72%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.regimg {
  position: absolute;
  bottom: -229px;
  right: 0;
  width: 400px;
  z-index: -1;
}
.regimg2 {
  position: absolute;
  bottom: -229px;
  left: 0;
  width: 400px;
  z-index: -1;
}
.groupsdiv {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
}
.boxcontainermsg {
  height: 99.5%;
  position: relative;
  border: 2px solid rgba(255, 255, 255.5);
  box-shadow: 0 0 10px #fff inset;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.textmsg {
  padding: 10px 15px 0;
  height: 82% !important;
  overflow-y: scroll !important;
  margin-top: 20px;
}
.msgheader {
  background-color: rgb(229 222 140) !important;
  padding: 15px 15px 0;
  box-shadow: 10px 10px 10px -10px #fff inset;
  top: 0;
  position: sticky;
  height: 8%;
}
.msgheader h2 {
  background-color: rgb(229 222 140) !important;
  padding: 15px;
  border: 2px solid rgba(255, 255, 255.5);
  box-shadow: 0 0 10px #fff inset;
  border-radius: 4px;
  color: #975151;
}

.writeInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  padding: 15px;
  height: 10%;
  background-color: rgb(229 222 140) !important;
  box-shadow: inset 10px -10px 10px -10px #fff;
}
.writeInput .inn {
  background-color: rgb(229 222 140) !important;
  padding: 15px;
  border: 2px solid rgba(255, 255, 255.5);
  box-shadow: 0 0 10px #fff inset;
  border-radius: 4px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightmsg {
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 15px;
  margin-bottom: 15px;
}
.leftmsg {
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin-bottom: 15px;
}

.leftmsg p {
  padding: 15px;
  background: rgb(148, 143, 89);
  color: #fff;
  border-radius: 7px;
  max-width: 200px;
  display: inline-block;
  font-size: 20px;
  word-wrap: break-all;
}
.rightmsg p {
  padding: 15px;
  background: rgb(155, 147, 57);
  color: #fff;
  border-radius: 7px;
  max-width: 200px;
  font-size: 20px;
  display: inline-block;
  word-wrap: break-all;
}
.writeInput .inn input {
  padding: 10px 15px;
  width: 60%;
}
.mssginn {
  display: flex;
  flex-direction: column;
}
.msgbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btnbox {
  position: relative;
}
.leftmsg .msgbtnInn {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  left: 70px;
  background: rgb(205, 207, 82);
  border-radius: 4px;
  z-index: 1000;
}
.rightmsg .msgbtnInn {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 50%;
  right: 70px;
  background: rgb(205, 207, 82);
  transform: translateY(50%);
  border-radius: 4px;
  z-index: 1000;
}
