.Nunito {
  font-family: "Nunito", sans-serif !important;
}
* {
  margin: 0;
  padding: 0;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: #11175d !important;
}
.password {
  position: relative;
  width: 90%;
  margin-top: 34px;
}
.password .eye {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.openSans {
  font-family: "Open Sans", sans-serif;
}
.forgotBox {
  width: 100%;
  height: 100vh;
  background: #ebe8f3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forgotboxinn {
  width: 40%;
  background: #fff;
  padding: 30px;
}
.loader {
  position: absolute;
}
.cXeqit {
  position: absolute !important;
}
.navbox {
  border-radius: 20px;
  background: rgb(124, 223, 124);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
.userImg {
  width: 80%;
}
.Navicon {
  font-size: 40px;
}
.logbuttons {
  display: flex;
  column-gap: 20px;
  margin-top: 15px;
}
